# SPDX-License-Identifier: GPL-2.0-only

config PID_IN_CONTEXTIDR
	bool "Write the current PID to the CONTEXTIDR register"
	help
	  Enabling this option causes the kernel to write the current PID to
	  the CONTEXTIDR register, at the expense of some additional
	  instructions during context switch. Say Y here only if you are
	  planning to use hardware trace tools with this kernel.

config DEBUG_EFI
	depends on EFI && DEBUG_INFO
	bool "UEFI debugging"
	help
	  Enable this option to include EFI specific debugging features into
	  the kernel that are only useful when using a debug build of the
	  UEFI firmware

config ARM64_RELOC_TEST
	depends on m
	tristate "Relocation testing module"

config DEBUG_TLBFLUSH
	bool "Add vmstat counters to analyze TLB handling"
	depends on DEBUG_KERNEL
	help
	 This option adds vmstat counters that track how arm64 TLB invalidations
	 are handled, specifically how many take the local fast path versus a
	 broadcast. The counts are exposed in /proc/vmstat and are useful for
	 analyzing the active_cpu optimization. If unsure, say N.

source "drivers/hwtracing/coresight/Kconfig"
